{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 page-header">
            <h3>Continue?</h3>
        </div>
    </div>
    <div class="row">
        {% include "data/includes/info.html" %}
        <div class="col-sm-8 col-sm-pull-4">
            <p>Thank you for helping us with this transcription task.</p>
            <p>You have completed the requisite number of images.  Would you like to continue on another set of images?</p>
        </div>
        <div class="col-sm-4 col-md-4 col-sm-pull-4">
            <form action="/check/" method="post">
             {% csrf_token %}<h2></h2>
                <input type="hidden" id="id_accepted" name="accepted" value="0">
                <input type="submit" class="btn btn-defualt" value="I do NOT want to transcribe images" />
            </form>
        </div>
        <div class="col-sm-4 col-md-4 col-sm-pull-4">
            <form action="/check/" method="post">
            {% csrf_token %}<h2></h2>
                <input type="hidden" id="id_accepted" name="accepted" value="1">
                <input type="submit" class="btn btn-defualt" value="I want to work on another 5 images" />
            </form>
        </div>

    {% include "includes/hometimer.html" %}
    </div><!-- /.row -->
</div> <!-- /.container -->
{% endblock %}
