{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 page-header">
            <h3>Thank you!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>You have completed entering all the images</p>
            <p>Your bonus will be applied through MTurk shortly.  If you do not recieve your bonus in the next 14 days, message the requester with your access code: {{ request.user.username }}</p>
        </div>
        {% include "includes/hometimer.html" %}
    </div>
</div>
{% endblock %}
