{% extends 'base.html' %}

{% block content %}

<div class="container">
    <p>{{ description }}</p>
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <form action="/info/" method="post">
                {% csrf_token %}
                <input type="hidden" id="id_accepted" name="accepted" value="1">
                <input type="submit" class="btn btn-defualt" value="Accept" />
            </form>
        </div>
        <div class="col-sm-4 col-md-4">
            <form action="/info/" method="post">
                {% csrf_token %}
                <input type="hidden" id="id_accepted" name="accepted" value="0">
                <input type="submit" class="btn btn-defualt" value="Reject" />
            </form>
        </div>
    </div><!-- /.row -->
</div> <!-- /.containter -->

{% endblock %}
