{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{{ user.username }}</h1>
    <p><b>NOTE: Do not refresh this page and do not generate multiple access keys!</b></p>
    <ul>
        <li>Please submit this personal access code exactly as it appears above to the Mturk HIT page in order to complete this assignment.</li>
        <li>Copy the code above and store it in a safe place.</li>
        <li>Once you submitted your access code on Mturk, <b>wait on this page</b> and allow a few seconds for your access code to be verified on our servers. You will receive an email as soon as your access code is verified.</li>
        <li>Once your access code is verified click on <a href="/">Continue</li>.
    </ul>
</div>

{% endblock %}
