{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{{ user.username }}</h1>
    <p><b>NOTE: Do not referesh this page and do not generate multiple access keys!</b></p>
    <p>Please submit this personal access code exactly as it appears above to the Mturk HIT page in order to complete this assignment.</p>
    <p>Copy the code above and store it in a safe place.</p>
    <p>Once you submitted your access code on Mturk, <b>wait on this page</b> and allow a few seconds for your access code to be verified on our servers. You will receive an email as soon as your access code is verified.</p>
    <p>Once your access code is verified click link to this page <a href="/">Continue</a>
</div>

{% endblock %}
