{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{{ user.username }}</h1>
    <p>Copy the code above and store it in a safe place.  You must enter the code on MTurk exactly as it appears above.</p>
    <p>The code above is your personal access code. Please submit this personal access code to Amazon M-turk in order to complete this assignment.</p>
    <p>Once you have entered the code on MTurk, allow a few minutes for the access code to be verified by our servers and click to this page <a href="/">Continue</a>
</div>

{% endblock %}
