{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 page-header">
            <h3>Start Transcribing</h3>
        </div>
    </div>
    <div class="row">
        {% include "data/includes/info.html" %}
        <div class="col-sm-8 col-sm-pull-4">
            <p>Thank you for helping us with this transcription task.
        {% if treatment.imageLimit == "endog" %}
            You may work on as many batches of 5 images as you want and will receive your bonus of ${{ treatment.wage }} per batch on your Amazon Payment account, upon finishing each batch.
        {% else %}
            {% if treatment.upfront != 0 %}
                We just made an upfront payment of ${{ mturker.upfront_payment }} as a bonus on your Amazon Payment account.
                You will recieve the remaining bonus upon finishing the task.
            {% else %}
                You will recieve your bonus upon finishing the task.
            {% endif %}
        {% endif %}
            </p>

            {% include "data/includes/instructions.html" %}
            {% include 'data/includes/example.html' %}
            <hr>
            <p>We need this work to be completed quickly.
            {% if treatment.imageLimit == "endog" %}
                Please complete the task in the next {{ mturker.get_time_limit }} hours in order to receive your payment.
            {% else %}
                {% if treatment.upfront != 0 %}
                    Please complete the task in the next {{ mturker.get_time_limit }} hours in order to receive the remaining {{ treatment.get_remaining }}% of your payment.
                {% else %}
                    Please complete the task in the next {{ mtutker.get_time_limit }} hours in order to receive your payment.
                {% endif %}
            {% endif %}
            </p>
            <a class="btn btn-success" href="{% url 'data:task_entry' %}">Start Transcribing!</a>
        </div>

        {% include "includes/hometimer.html" %}
    </div><!-- /.row -->
</div> <!-- /.container -->
{% endblock %}
