{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 page-header">
            <h3>Start Transcribing</h3>
        </div>
    </div>
    <div class="row">
        {% include "data/includes/info.html" %}
        <div class="col-sm-8 col-sm-pull-4">
            <p>Thank you for helping us with this transcription task.</p>
        {% if request.user.mturker.sorting %}
            <p><b>Before you start, we would like to start by sharing some information with you about our firm’s philanthropic mission:</b></p>
            <p>Our firm is committed to give back in meaningful ways. We are passionate about encouraging education for the next generation. We do our part by donating money to influential non-profit organizations that support education for children from low socioeconomic backgrounds. {{ Constants.number_of_subjects }} individuals like you are helping us with this specific project. In keeping with our philanthropic mission, we donate the equivalent of {{ request.user.mturker.wagebill }}% of our wage bill for in cash on behalf of all workers who help us with this project to <a href="{{ Constants.charity_url }}">{{ Constants.charity }}</a> charity [which supports child.]."</p>
        {% endif %}
            <a class="btn btn-success" href="{% url 'data:task_entry' %}">Start Transcribing!</a>
        </div>

        {% include "includes/hometimer.html" %}
    </div><!-- /.row -->
</div> <!-- /.container -->
{% endblock %}
