{% extends 'base.html' %}

{% block content %}
<div class="container">
{% if user.is_authenticated %}
    <form method="post" id="taskform" action="">
    {% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="img-responsive" src="{{ task.image.get_url }}">
                    </div>
                </div>
                <div class="row">
                    <table class="table">
                    {% for field in taskform %}
                        <td>{{ field.label_tag }}</td>
                        <td>{{ field }}</td>
                    {% endfor %}
                    </table>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ taskform.non_field_errors }}
                        {{ taskform.error }}
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-4 col-xs-offset-10">
                        <input class="btn btn-success" type="submit" name="action" value="submit">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-4 col-xs-offset-5">
            Progress: {{ progress|add:"1" }} of {% if request.user.mturker.treatment.treatment == "endog" %}5{% else %}10{% endif %}
        </div>
    </div>
</div>


{% include "data/includes/intromodal.html" %}
{% include "includes/hometimer.html" %}

{% else %}
<div class="alert alert-danger">
    You have been logged out due to inactivity.  <a href="{% url 'data:index' %}">home</a>
</div>

{% endif %}

</div>
{% endblock %}
