{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 page-header">
            <h3>No tasks in the system</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {% if message %}
                <p>{{ message }}</p>
                <p>It usually takes our servers a couple minutes to verify the code.  Try refreshing the page accordlingly.  Contact the requestor on MTurk, if your access code does not activate within 10 minutes</p>
                {% else %}
                <p>There are no tasks currently assigned to this user.</p>
                {% endif %}
        </div>
        {% include "data/includes/info.html" %}
        {% include "includes/hometimer.html" %}
    </div>
</div>
{% endblock %}
