<div class="row">
    <div class="col-xs-12">
        <h3>Instructions:</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-8">
        <ol>
            <li>You will be shown {% if treatment.imageLimit == "endog" %}5{% else %}10{% endif %} images similar to the one seen on this page.</li>
            <li>For each image, you will first need to determine whether it is readable or not.</li>
            <li>If you report the image as readable, you will need to transcribe the text.</li>
            <li>Use the following rules for non-standard characters:</li>
            <ul>
                <li>Transcribe &auml; as ae, &Auml; as Ae</li>
                <li>Transcribe &ouml; as oe, &Ouml; as Oe</li>
                <li>Transcribe &uuml; as ue, &Uuml; as Ue</li>
                <li>Transcribe &szlig; as ss</li>
            </ul>
            <li>Use a single "-" for both hyphens and dashes.</li>
            <li>Do NOT transcribe page numbers.</li>
            <li>Do NOT preserve the stanzas as you transcribe. <a href="#" type="button" id="modalBtnExample" data-toggle="modal" data-target="#exampleModal">Click to see an example</a></li>
            <li>If you cannot read some characters, replace them with an underscore _.</li>
            <li>Press ‘submit’ after you finished transcribing.</li>
        </ol>
        <p>You will be able to review these instructions at any time.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-4">
      <img class="img-responsive" src="/static/example.png">
  </div>
</div>
