
<button hidden type="button" id="modalBtnInfo" data-toggle="modal" data-target="#myModalInfo">
</button>
<!-- Modal -->
<div class="modal fade" id="myModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabelInfo">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">TASK INSTRUCTIONS</h4>
      </div>
      <div class="modal-body">
         {% include 'data/includes/instructions.html' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="clickmodalinfo" value="{{ clickmodal }}">

<script>
var modalBtn = document.getElementById('modalBtnInfo')
var clickmodal = document.getElementById('clickmodalinfo').value

$(document).ready( function () {
    if (clickmodal == "yes")
        $(modalBtn).click()
});

</script>
