
<button hidden type="button" id="modalBtnInfo" data-toggle="modal" data-target="#myModalInfo">
</button>
<!-- Modal -->
<div class="modal fade" id="myModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabelInfo">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">TASK INSTRUCTIONS</h4>
      </div>
      <div class="modal-body">
         {% include 'data/includes/instructions.html' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="clickmodalinfo" value="{{ clickmodal }}">
<input type="hidden" id="userIdForCount" value="{{ request.user.id }}">

<script>
var modalBtn = document.getElementById('modalBtnInfo')
var clickmodal = document.getElementById('clickmodalinfo').value
var userId = document.getElementById('userIdForCount').value

$(document).ready( function () {
    if (clickmodal == "yes")
        $(modalBtn).click()

    $(modalBtn).click(function(e){
        e.preventDefault();
        $.ajax({
            url:'/instructions_counter/',
            type:"POST",
            data: {
                uid: userId,
                //Cross Site Request Forgery protection used on backend of form submissions
                csrfmiddlewaretoken: '{{ csrf_token }}',
            }
        });
    });
});

</script>
